@import "bootstrap";

.jumbotron {
    background-image: image_url('theater.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
}

.btn {
    margin-top: 10px;
}

#wrap h1 {
    font-size: 80px;
}

#wrap h2 {
    font-size: 65px;
}

.input-group-btn {
    vertical-align: bottom;
}